<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>auth</title>
    <script src='C:\Users\pesas\OneDrive\Desktop\Polikarpov-wev-dev-2025-2\lab3\template\scripts\auth.js'></script>
</head>
<body>
    <form id="authForm">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="remember">
            <input type="checkbox" id="remember" name="remember"> Remember me
        </label><br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>